*{
    margin-right: -1px ;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
header{
    margin-left: -1;
    margin-top: -1;
    padding: 30px 0px 30px 0px;
    text-align: center;
    background-color:rgb(122, 129, 129);
    background-size:cover;
    width: 100%;
}
h1{
    text-shadow: 5px 5px 8px blue;
}
span{
   color: #4b5563; 
}
body{
    background-image: linear-gradient(to bottom, #818fbc,#6e5b5b);
    color: #8ca1c0;
}
h2{
    text-align: left;
    color: #33415c;
    text-shadow: 5px 5px 8px gray;
}
a{
    color: rgb(95, 75, 144);
}
a:hover{
    color: blue;
}
a:active{
    color: rgb(109, 109, 208);
}
a:visited{
    color: rgb(41, 41, 29);
}
footer{
    text-align: center;
    font-size:xx-small;
}
